body {
    background-color: rgb(18, 18, 18);
}

hr.rounded {
    border-top: 3px solid rgb(30, 30, 31);
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}

hr.rounded-header {
    border-top: 3px solid rgb(18, 18, 18);
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.button {
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 98%;
    height: 35px;
    line-height: 7px;
    cursor: pointer;
}

div.main-content-area {
  border-radius: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  width: 97.4%;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  box-sizing: border-box;
  background-color: rgb(30, 30, 31);
  overflow: auto;
}

div.footer-area {
  overflow: hidden;
  border-radius: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  width: 97.4%;
  height: 170px;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  box-sizing: border-box;
  background-color: rgb(30, 30, 31);
  overflow: auto;
}

div.weather-station-data {
  border-radius: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 264px;
  padding-left: 25px;
  padding-top: 5px;
  padding-right: 25px;
  padding-bottom: 5px;
  box-sizing: border-box;
  background-color: rgb(18, 18, 18);
}

div.humid-temp-area {
  float: left;
  border-radius: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 14%;
  height: 226px;
  margin-right: 15px;
  padding-left: 75px;
  padding-top: 35px;
  padding-right: 25px;
  padding-bottom: 25px;
  box-sizing: border-box;
  background-color: rgb(30, 30, 31);
}

div.weather-station-addt {
  float: left;
  border-radius: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 24.87%;
  height: 226px;
  margin-right: 15px;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  box-sizing: border-box;
  background-color: rgb(30, 30, 31);
}

div.blinkies {
  overflow: hidden;
  float: right;
  width: 10%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(30, 30, 31);
  overflow: auto;
}

div.met-office-warning-notif {
  border-radius: 15px;
  height: 64px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  background-color: rgb(18, 18, 18);
  overflow: auto;
}

div.event-map {
    margin-bottom: 15px;
    float:left; 
    height:665px; 
    width: 100%; 
    border-radius: 25px;
}

div.wx-report-key {
    border-radius: 25px;
    float: right; 
    margin-left: 25px;
    width: 250px;
    height: 435px;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    background-color: rgb(18, 18, 18);
    overflow: auto;
}

div.socials-box {
    border-radius: 25px;
    float: right; 
    width: 250px;
    height: 435px;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    background-color: rgb(18, 18, 18);
    overflow: auto;
}

.header {
    margin-top: -20px;
    padding: 85px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

ul.proj {
    list-style-type: none;
    width: 25%;
}

li.proj-li {
    vertical-align: top;
    display: table-cell;
    position: relative;
    padding-right: 31px;
}

.container {
    width: 255px;
    padding: 2px 14px;
}
  
.active, .collapsible:hover {
    background-color: #555;
}

.collapsible {
    z-index: 99;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgb(18, 18, 18);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    position: relative;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}

ul.img-ul {
    list-style-type: none;
}

li.img-li {
    vertical-align: top;
    display: table-cell;
    position: relative;
    padding-right: 125px;
    padding-top: 50px;
}

.content {
    margin-bottom: 15px;
    margin-top: -38px;
    border-radius: 15px;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    height: 400px;
    background-color: rgb(18, 18, 18);
    overflow: auto;
}

.container-image {
    padding: 2px 16px;
}

ul.list-box {
    padding-top: 18px;
    list-style-type: square; 
    width: 60%;
    color: white;
}

::-moz-selection {
    color: black;
    background: orange;
}
  
::selection {
    color: black;
    background: orange;
}


::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: rgb(18, 18, 18); 
}

::-webkit-scrollbar {
width: 0px;
background: transparent; /* make scrollbar transparent */
}
   

::-webkit-scrollbar-thumb {
    background: #888; 
}
  

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.leaflet-control-layers,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.carousel-container {
    padding-bottom: 15px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    display: flex;
    flex: 0 0 100%;
    box-sizing: border-box;
    padding: 20px;
    padding-left: 55px;
    background: rgb(18, 18, 18);
    border-radius: 25px;
    color: white;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 100px;
}

#prevButton {
    left: 10px;
}

#nextButton {
    right: 10px;
}

.item-image {
    border-radius: 25px;
    width: 136px;
    height: auto;
    margin-right: 20px;

}

.item-content {
    flex: 1; 
}

@media only screen and (max-width: 600px) {
    div.main-content-area {
        border-radius: 25px;
        float: left; 
        margin-left: 25px;
        width: 89%;
        height: 570px;
        padding-left: 25px;
        padding-top: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
        margin-bottom: 25px;
        box-sizing: border-box;
        background-color: rgb(30, 30, 31);
        overflow: auto;
    }

    div.twt-content-area {
        display: none;
        visibility: hidden;
        content-visibility: hidden;
    }

    .button {
        border-radius: 10px;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        height: 35px;
        width: 100%;
        line-height: 7px;
        cursor: pointer;
    }

    ul.list-box {
        float: left;
        padding-top: 18px;
        margin-left: -20px;
        list-style-type: square; 
        color: white;
    }

    ul.proj {
        list-style-type: none;
        width: 25%;
    }
    
    li.proj-li {
        float: left;
        padding-bottom: 31px;
    }

    div.event-map {
        float:left; 
        height:435px; 
        width:100%; 
        border-radius: 15px;
    }

    div.wx-report-key {
        float: right; 
        width: 100%;
        height: 390px;
        margin-top: 15px;
        padding-top: 25px;
        padding-right: 25px;
        box-sizing: border-box;
        border-radius: 25px;
        background-color: rgb(18, 18, 18);
        overflow: auto;
    }

    ul.img-ul {
        list-style-type: none;
        width: 125%;
    }
    
    li.img-li {
        float: left;
        padding-bottom: 11px;
        margin-left: -40px;
    }
}

@media only screen and (max-width: 1249px) {

    div.main-content-area {
        border-radius: 25px;
        float: left; 
        margin-left: 25px;
        width: 89%;
        height: 570px;
        padding-left: 25px;
        padding-top: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
        margin-bottom: 25px;
        box-sizing: border-box;
        background-color: rgb(30, 30, 31);
        overflow: auto;
    }

    div.twt-content-area {
        display: none;
        visibility: hidden;
        content-visibility: hidden;
    }
}