body {
    background-color: rgb(18, 18, 18);
}

hr.rounded {
    border-top: 3px solid rgb(30, 30, 31);
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.button {
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    height: 35px;
    line-height: 7px;
    cursor: pointer;
}

div.main-content-area {
  border-radius: 25px;
  float: left; 
  margin-left: 25px;
  width: 1250px;
  height: 570px;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  background-color: rgb(30, 30, 31);
  overflow: auto;
}

div.wx-report-key {
    border-radius: 25px;
    float: right; 
    margin-left: 25px;
    width: 250px;
    height: 435px;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    background-color: rgb(18, 18, 18);
    overflow: auto;
}

div.twt-content-area {
    border-radius: 25px;
    float: right; 
    margin-right: 25px;
    margin-left: 25px;
    width: 578px;
    height: 570px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    box-sizing: border-box;
    background-color: rgb(30, 30, 31);
}

.header {
    margin-top: -20px;
    padding: 85px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.card {
    float:left;
    margin-left: 20px;
    border-radius: 25px;
    color: white;
    transition: 0.3s;
    width: 20%;
}

.b-card {
    float:left;
    margin-top: 340px;
    margin-left: -1006px;
    border-radius: 25px;
    color: white;
    transition: 0.3s;
    width: 20%;
}

.b-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    width: 255px;
    padding: 2px 14px;
}

.collapsible {
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.active, .collapsible:hover {
    background-color: #555;
}
  
.content {
    margin-bottom: 15px;
    margin-top: -38px;
    border-radius: 15px;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    height: 400px;
    background-color: rgb(18, 18, 18);
    overflow: auto;
}

.card-image {
    margin-top: 34px;
    float:left;
    margin-left: 13px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    width: 27%;
}

.card-image-next {
    margin-top: 34px;
    float:left;
    margin-left: 275px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    width: 27%;
}

.card-image-drawing {
    margin-top: 34px;
    float:left;
    margin-left: 20px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    width: 27%;
}

.card-image-video {
    margin-top: 34px;
    float:left;
    margin-left: 185px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    width: 27%;
}

.container-image {
    padding: 2px 16px;
}

ul.list-box {
    padding-top: 18px;
    list-style-type: square; 
    color: white;
}

::-moz-selection {
    color: black;
    background: orange;
}
  
::selection {
    color: black;
    background: orange;
}

.leaflet-control-layers,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}